.modal-overlay-wrapper {
    position: fixed;
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-img-wrapper {
    width: 60px;
    height: 60px;
    background-color: #f8f9fa;
    border: 1px solid var(--kfc-border-grey);
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-thumbnail {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}


