/* KFC Vietnam Design System */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

:root {
  /* KFC Brand Colors */
  --kfc-red: #E4002B;
  --kfc-black: #202124;
  --kfc-grey: #ABABAB;
  --kfc-white: #FFFFFF;
  --kfc-border-grey: #EEEEEE;
  --kfc-bg-light: #F8F8F8;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: var(--kfc-black);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--kfc-black);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}