.navbar-brand {
  padding: .75rem;
  background-color: var(--kfc-white);
}

.navbar .form-control {
  padding: .75rem;
}

.header-container {
  background-color: var(--kfc-red);
  border-bottom: none;
}

.header-logo {
  height: 30px;
}

.header-search-icon {
  margin-right: 15px;
  color: var(--kfc-white);
}

.header-logout-link {
  color: var(--kfc-white);
}

.header-logout-icon {
  margin-right: 5px;
}
