.auth-forgot-password {
    text-align: right;
    margin: -10px 0 25px;
    font-size: 0.9rem;
}

.auth-policies {
    margin-top: 30px;
    text-align: center;
    font-size: 0.85rem;
    color: #888;
    line-height: 1.6;
}