.not-found-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
}

.not-found-details {
    color: #999;
    font-size: 12px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .not-found-image {
        max-width: 90%;
    }
}