.change-password-wrapper {
    display: flex;
    justify-content: center;
}

.change-password-form {
    width: 100%;
    max-width: 520px;
    padding: 40px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

.change-password-note {
    margin-top: 1.5rem;
    margin-bottom: 0;
    color: var(--kfc-grey);
    text-align: center;
}
