.categories-modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.categories-page-header {
  display: flex;
  justify-content: space-between;
}

.categories-switch-wrap {
  display: flex;
  justify-content: center;
}
