.home-category-section {
    padding: 2rem 0;
    background-color: #f8f9fa;
}

.category-title {
    font-family: 'Oswald', sans-serif;
    margin-top: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: var(--kfc-black);
}

.section-header {
    margin-bottom: 2rem;
    position: relative;
}

.section-header h3 {
    font-weight: 800;
    color: var(--kfc-black);
    font-size: 2.25rem;
}

.home-product-section {
    background-color: #f8f9fa;
}

.mock-icon {
    width: 60px;
    height: 60px;
    background-color: #e4002b;
    border-radius: 50%;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
}