.label-with-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.label-with-button label {
    margin: 0;
    font-weight: 700;
    color: var(--kfc-black);
    font-size: 0.85rem;
    text-transform: uppercase;
}

@media (max-width: 560px) {
    .label-with-button {
        flex-direction: column;
        align-items: flex-start;
    }
}