/* Navigation */
.nav-link:hover {
    color: var(--kfc-red) !important;
}

.user-acc-btn svg {
    transition: all 0.3s ease;
}

.user-acc-btn:hover svg {
    color: var(--kfc-red) !important;
    transform: scale(1.1);
}

.user-acc-btn:active,
.user-acc-btn:focus {
    background-color: transparent !important;
    box-shadow: none !important;
}

.shopping-cart .basket {
    width: 30px;
    height: 43px;
    background: url("https://static.kfcvietnam.com.vn/images/web/cart.png?v=5.0") no-repeat -53px 1px;
    background-size: 350%;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    transition: opacity 0.2s;
}

.shopping-cart .basket.blank {
    background-position: -7px 1px;
}

.shopping-cart .basket.Itemadded {
    background-position: -53px -44px;
    animation: tada 0.6s ease-in-out both;
}

.shopping-cart .basket:hover {
    animation: tada 0.6s ease-in-out both;
}

.mat-ripple.mat-ripple-unbounded {
    overflow: visible;
}

@keyframes tada {

    0%,
    100% {
        transform: scale(1) rotate(0deg);
    }

    25%,
    75% {
        transform: scale(1.1) rotate(-3deg);
    }

    50% {
        transform: scale(1.2) rotate(3deg);
    }
}