.empty-state {
    display: flex;
    align-items: center;
    padding: 45px 55px;
    background-color: #f8f7f5;
    background-image: url("https://static.kfcvietnam.com.vn/images/web/empty-cart.png?v=5.0");
    background-size: 40%;
    background-position: calc(100% - 20px) center;
    background-repeat: no-repeat;
    border-radius: 8px;
    min-height: 450px;
    width: 100%;
    margin: 20px auto;
}

.empty-state-content {
    max-width: 500px;
    text-align: left;
    z-index: 1;
}

.empty-state-title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    line-height: 1.1;
    font-weight: 700;
}

.empty-state-message {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

@media (max-width: 768px) {
    .empty-state {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background-position: center bottom;
        background-size: 60%;
        padding: 3rem 1rem 15rem;
        min-height: 600px;
    }

    .empty-state-content {
        text-align: center;
        max-width: 100%;
    }

    .empty-state-title {
        font-size: 2rem;
    }
}