.product-hero {
    background: var(--kfc-red);
    padding: 3rem 0 2rem;
}

.hero-title {
    color: white;
    text-align: center;
    margin-bottom: 0.5rem;
}

.category-wrapper {
    position: sticky;
    top: 114px;
    z-index: 999;
    background: white;
    border-bottom: 1px solid var(--kfc-border-color);
    height: 60px;
    margin-bottom: 2rem;
}

.category-wrapper .container,
.category-nav-scroll,
.category-wrapper ul,
.category-wrapper li {
    height: 100%;
}

.category-wrapper ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    overflow-x: auto;
    scrollbar-width: none;
    gap: 2rem;
    padding: 0 1rem;
}

.category-wrapper a {
    font-family: var(--font-heading);
    text-transform: uppercase;
    display: flex;
    align-items: flex-end;
    height: 100%;
    padding-bottom: 5px;
    font-size: 1.5rem;
    font-weight: 700;
    color: #333;
    text-decoration: none;
    transition: all 0.2s;
    position: relative;
    white-space: nowrap;
    cursor: pointer;
}

.category-wrapper a:hover {
    color: var(--kfc-red);
}

.category-wrapper a.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: var(--kfc-red);
}

@media (max-width: 991px) {
    .category-wrapper {
        top: 60px;
    }
}

.product-loading {
    text-align: center;
    padding: 3rem 0;
}

.kfc-spinner {
    color: var(--kfc-red);
}

.category-section .category-title {
    margin-bottom: 1.5rem;
    margin-top: 1rem;
}