.loading-inline {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
}

.loading-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
    width: 100%;
}

.spinner-lg {
    width: 3rem;
    height: 3rem;
}