/* CSS for OrderSummary component */
.checkout-summary-sidebar {
    position: sticky;
    top: 120px;
    /* transition: top 0.3s; */
}

.summary-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.item-name-qty {
    display: flex;
    gap: 8px;
}

.item-qty {
    font-weight: 700;
    color: #e4002b;
}

.summary-divider {
    margin: 15px 0;
    border-top: 1px solid #eee;
    height: auto;
    background-color: transparent;
}

.summary-divider.thick {
    border-top-width: 2px;
    background-color: transparent;
}

.btn-apply-coupon {
    height: 52px;
    border-radius: 8px !important;
}